.button {
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}

.icon-button.ant-btn-icon-only {
  box-shadow: none;
  background: none;
  border: none;

  width: auto;
  height: auto;
  padding-inline: 0;
  padding-block: 0;

  :hover {
    background: none;
  }
}
