@import "/src/themes/theme.scss";

.grantAccess-tabs-container {
    background-color: $cool-gray-3;
    padding: $space-xs;
    border-radius: 4px;
    border: 1px solid $cool-gray-3;

    .selected-tab-btn {
        background-color: $white !important;
        color: $primary-blue !important;
    }
}
