@import "/src/themes/theme.scss";

.gremlin-connection-info {
    padding: $space-md;
    border:  2px solid $primary-blue;
    border-radius: 8px;
}

.agent-selector-radiobtn {
    border: 1.6px solid $primary-blue;
    padding: $space-sm;
    border-radius: 6px;
    width: 50%;
}

.radiobtn-disabled {
    border: 1px solid $cool-gray-4 !important;
}