@import "/src/themes/theme.scss";
@import "/src/themes/mixins.scss";

.container {
  padding: 16px 16px;
}

.summary-container {
  border: 1px solid $secondary-blue-0;
  width: $width-100;
  padding: $space-sm;
  border-radius: $space-xs;
  min-height: 92px;

  .divider {
    padding-block: 12px;
  }

  .ant-divider {
    height: auto;
  }
}

.recommendations-container {
  border: 1px solid $secondary-blue-0;
  width: $width-100;
  padding: $space-sm;
  border-radius: $space-xs;
  min-height: 97px;
}

.fixed-height-card {
  height: 410px;
  display: flex;
  flex-direction: column;
}

.fixed-height-content {
  flex: 1;
  overflow: auto;
}

.top-flex-layout {
  padding: 10px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f3f5;

  .ant-btn {
    margin: 0 10px;
  }

  .right-buttons {
    display: flex;
    gap: 1px;
  }
}

.table-heading-row {
  justify-content: space-between;
  align-items: space;
  margin-bottom: 8px;
  padding-right: 2px;

  &:last-child {
    margin-bottom: 0;
  }

  .actions {
    align-items: center;
    justify-content: space-between;
    width: 2.8rem;
  }

  .download,
  .fullscreen {
    cursor: pointer;
  }
}
