@import "/src/themes/theme.scss";

.project-card {
  position: relative;

  .resiliency {
    width: 6px;
    height: 57px;

    position: absolute;
    left: 0;

    border-radius: 0px 3px 3px 0px;
  }

  .ant-tag {
    background: $white;
    height: min-content;

    span {
      margin-inline-start: 4px;
    }
  }

  .team {
    color: $cool-gray-6;
  }

  .project-card-footer {
    margin-top: auto;
  }
}

.favorite-button {
  border: none;
  box-shadow: none;
  margin-left: auto;
}

.favorite-button:focus {
  outline: none;
  box-shadow: none;
}

.favorite-button:focus:not(.focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}
