@import "/src/themes/mixins.scss";
@import "/src/themes/theme.scss";

.auth-container {
  padding: calc($space-lg * 2);

  .subtitle {
    color: $cool-gray-12;
  }

  .form-wrapper {
    width: 25rem;
  }

  .ant-btn-primary {
    @include body-copy-semibold;

    box-shadow: none;
  }
}
